APP_NAME="SneakPeek"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=https://sneakpeek.test

# Broadcasting connection
BROADCAST_CONNECTION=null

# Broadcasting: Laravel Reverb
REVERB_HOST="sneakpeek.test"
REVERB_PORT=8080
REVERB_SCHEME=https

# Broadcasting: Pusher Channels
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=

# Vite
VITE_APP_NAME="${APP_NAME}"
VITE_BROADCAST_CONNECTION="${BROADCAST_CONNECTION}"
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
