{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./resources/css/app.css",
    "singleQuote": true,
    "bracketSameLine": false,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 140
}
