@import 'tailwindcss';

@theme {
    --font-sans: 'Ubuntu', sans-serif;
    --font-mono: 'Ubuntu Mono', monospace;
    --font-brand: 'Fredoka', 'sans-serif';
    --font-error: 'Rubik', 'sans-serif';

    --color-emerald-75: color-mix(in srgb, var(--color-emerald-50), var(--color-emerald-100));
    --color-rose-75: color-mix(in srgb, var(--color-rose-50), var(--color-rose-100));
    --color-sky-75: color-mix(in srgb, var(--color-sky-50), var(--color-sky-100));
    --color-yellow-75: color-mix(in srgb, var(--color-yellow-50), var(--color-yellow-100));
    --color-zinc-75: color-mix(in srgb, var(--color-zinc-50), var(--color-zinc-100));

    --height-dashboard-card-skeleton: 166px;
    --height-receipt-card-skeleton: 162px;
    --height-secret-card-skeleton: 248px;
}

@layer base {
    body {
        @apply bg-zinc-75 text-zinc-900 dark:bg-black dark:text-zinc-100;
    }

    textarea {
        @apply overscroll-none;
    }

    input::placeholder,
    textarea::placeholder,
    select:invalid {
        @apply text-zinc-400 dark:text-zinc-500;
    }

    input:disabled,
    textarea:disabled,
    select:disabled {
        @apply cursor-not-allowed opacity-50;
    }

    select:not(:disabled) {
        @apply cursor-pointer;
    }

    label[for]:not([for='']) {
        @apply cursor-pointer;
    }
}

@utility text-logo {
    @apply font-brand text-xl font-medium text-black dark:text-white;
}

@utility text-title {
    @apply text-black dark:text-white;
}

@utility text-secondary {
    @apply text-zinc-700 dark:text-zinc-300;
}

@utility text-muted {
    @apply text-zinc-400 dark:text-zinc-500;
}

@layer components {
    .form {
        @apply grid grid-cols-1 gap-4 p-4;
    }

    .form-group {
        @apply flex flex-col gap-2;
    }

    .card {
        @apply flex flex-col rounded-md border-2 border-zinc-200 bg-white dark:border-zinc-700 dark:bg-zinc-900;
    }

    .card + .card {
        @apply mt-4;
    }

    .card-title {
        @apply flex border-b-2 border-zinc-200 bg-zinc-75 p-4 font-semibold text-title dark:border-zinc-700 dark:bg-zinc-800;
    }

    .bullet-divider > * + *::before {
        @apply mx-1.5 font-black text-muted content-['·'] select-none;
    }
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import './toasts.css';
@import './errors.css';
